@{
    ViewData["Title"] = "Access denied";
}
<main class="main main-error main-error-403">
    <div class="container">
        <div class="text-center alert alert-danger pb-4 pt-4 mb-5" style="border-radius: 25px" role="alert">
            <h1 class="h1"><b>403 error</b></h1>
            <p class="h1">Access denied</p>
        </div>
        <div class="text-center mt-5">
            <div class="image-wrapper">
                <img src="~/images/site/error_robot.svg" alt="Robot">
            </div>
        </div>
    </div>
</main>