@font-face {
    font-family: "Nunito";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/nunito/woff/Nunito-ExtraLight.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-ExtraLightItalic.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/nunito/woff/Nunito-Light.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-LightItalic.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/nunito/woff/Nunito-Regular.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-Regular.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/nunito/woff/Nunito-Medium.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-MediumItalic.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/nunito/woff/Nunito-SemiBold.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 600;
    font-style: italic;
    src:   url("../fonts/nunito/woff/Nunito-SemiBoldItalic.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-Bold.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-BoldItalic.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/nunito/woff/Nunito-ExtraBold.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-ExtraBoldItalic.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/nunito/woff/Nunito-Black.woff") format("woff");
}
@font-face {
    font-family: "Nunito";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/nunito/woff/Nunito-BlackItalic.woff") format("woff");
}