@model AutoSale.Domain.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "Changing password";
}

<main class="main main-change-password">
    <div class="container container-change-password">
        <h1 class="text-center mb-4">Changing password</h1>
        <form asp-controller="Account" asp-action="ChangePassword" class="d-flex flex-column" method="post">
            @if (Model.ErrorMessages.Any())
            {
                foreach (var message in Model.ErrorMessages)
                {
                    <p class="text-danger">@message</p>
                }
            }
            <div class="form-floating">
                <input required type="password" asp-for="CurrentPassword" class="form-control" id="floatingPassword1" placeholder="Current password">
                <label asp-for="CurrentPassword"></label>
                <span asp-validation-for="CurrentPassword" class="text-danger error-form-validation"></span>
            </div>
            <div class="form-floating">
                <input required type="password" asp-for="NewPassword" class="form-control" id="floatingPassword2" placeholder="New password">
                <label asp-for="NewPassword"></label>
                <span asp-validation-for="NewPassword" class="text-danger error-form-validation"></span>
            </div>
            <div class="form-floating">
                <input required type="password" class="form-control" asp-for="ConfirmNewPassword" id="floatingPassword3" placeholder="Confirm new password">
                <label asp-for="ConfirmNewPassword"></label>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger error-form-validation"></span>
            </div>
            <button class="btn btn-submit primary-color-bg primary-color-hover" type="submit">Change password</button>
        </form>
    </div>
</main>