@{
    ViewData["Title"] = "Forgot password confirmation";
}

<main class="main">
    <div class="container">
        <h1 style="font-size: 50px" class="text-center fw-bold">Forgot password confirmation</h1>
        <p class="text-center h3 mb-5">Please check your email to reset your password</p>
        <p class="text-center h5">Now you can close this tab</p>
    </div>
</main>