@model AutoSale.Domain.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot password?";
}

<main class="main main-login">
    <div class="container container-login">
        <h1 class="text-center fw-bold mb-5">Forgot your password?</h1>
        <form asp-action="ForgotPassword" asp-controller="Account" class="d-flex flex-column main-form" method="post">
            <div class="form-floating">
                <input required type="email" class="form-control" placeholder="Email" asp-for="Email">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger error-form-validation"></span>
            </div>
            <button class="btn btn-submit primary-color-bg primary-color-hover" type="submit">Submit</button>
        </form>
    </div>
</main>
