@{
    ViewData["Title"] = "Lock out";
}

<main class="main">
    <div class="container">
        <h1 class="text-center fw-bold">
            You are locked out of account. Please try again in a couple of minutes.
        </h1>
    </div>
</main>