@model AutoSale.Domain.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}

<main class="main main-login">
    <div class="container container-login">
        <h1 class="text-center mb-5">Resetting password</h1>
        <form asp-action="ResetPassword" asp-controller="Account" class="d-flex flex-column main-form" method="post">
            <input required asp-for="Code" type="hidden" />
            <input required asp-for="Email" type="hidden" />
            <div class="form-floating">
                <input asp-for="Password" required type="password" class="form-control" placeholder="Password">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger error-form-validation"></span>
            </div>
            <div class="form-floating">
                <input asp-for="ConfirmPassword" required type="password" class="form-control" placeholder="Confirm password">
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger error-form-validation"></span>
            </div>
            <button class="btn btn-submit primary-color-bg primary-color-hover" type="submit">Reset password</button>
        </form>
    </div>
</main>