@{
    ViewData["Title"] = "Reset password confirmation";
}

<main class="main">
    <div class="container text-center">
        <h1 class="fw-bold">Reset password confirmation</h1>
        <p>Password has been reset successfully</p>
    </div>
</main>
